
.OfferCard-bg1{
    background-image: url("../../assets//offer1.png");
}
.OfferCard-bg2{
    background-image: url("../../assets//offer2.png");
}

.OfferCard{
    width: 393.3px;
    height: 199.5px;
    border-radius: 20px;
    display: block;
    background-color: var(--primary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}